*.dSYM/
notes.md
py/*
/omp_block
/omp_block_2
/baseline
/block_sz
/mpi_summa
/mpi_summa_2
/mpi_cannon
/mpi_cannon_2
/pth_summa
/pth_summa_2
/pth_cannon
/pth_cannon_2
/alltoallw*
/s*
/output*
/draft*
/bcast.c
/srr*
/batch.o*